body {
  background-image: url(img/식당배경.jpg);
  background-size: 100% 120%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.button {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  display: flex;
  position: absolute;
  left: 20px;
  margin-top: 20px;
  width: 100px;
  height: 70px;
  border-radius: 9px;
  background: rgba(252, 220, 180, 0.4);
  border: solid 0.1px #000000;
}
.button:hover {
  background: rgb(243, 182, 108);
}
#logo {
  display: flex;
  justify-content: center;
  background: url() no-repeat center;
  padding: 5px;
  background: rgba(252, 220, 180, 0.4);
  border: 5px solid rgba(255, 151, 109, 0.5);
}

h2 > div {
  font-size: 4rem;
  color: rgb(159, 198, 238);
}
#img {
  position: relative;
}
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-align: justify;
  padding-left: 30px;
  font-size: 1.7rem;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 220, 180, 0.3);
  border: 5px solid rgba(255, 151, 109, 0.5);
  font-size: 2rem;
}
.menu:hover {
  border: 5px solid rgba(255, 151, 109, 0.5);
  background: rgb(250, 204, 148);
}
#review {
  padding-top: 40px;
  background-color: rgb(37, 32, 25);
  border: 5px solid rgba(0, 0, 0, 0.5);
  padding-left: 100px;
  padding-right: 100px;
}
#review-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid rgba(255, 151, 109, 0.5);
}
#review > p {
  padding-left: 30px;
  line-height: 25px;
  text-align: left;
}
ul {
  border: 5px solid rgba(255, 151, 109, 0.5);
  padding: 10px;
}
li {
  line-height: 65px;
}
