@font-face {
  src: url("../html/font/Paris2024-Variable.ttf");
  font-family: "Binggrae";
}
#Binggrae_font {
  font-family: "Binggrae";
}
#header {
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding-left: 30px;
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
  top: 0%;
}
#KHTRAVEL {
  color: white;
  font-size: 2rem;
}
#login {
  color: white;
  font-size: 1.3rem;
  padding-right: 10px;
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}
#sign {
  color: white;
  font-size: 1.3rem;
  padding-right: 150px;
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  font-size: 14px;
}
#kh {
  color: white;
  padding-left: 30px;
  font-size: 3rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 14px;
}
.menu {
  position: fixed;
  right: 20px;
  width: 30px;
  overflow: hidden;
  margin: 150px auto;
  bottom: 480px;
  height: 300px;
  width: 100px;
  overflow: hidden;
  margin: 150px auto;
}
.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #000000;
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}
.menu a {
  color: #fff;
}
.submenu > li {
  line-height: 50px;
  background-color: #000000;
}
.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
}
.menu > li:hover {
  background-color: #000000;
  transition-duration: 0.5s;
}
.menu > li:hover .submenu {
  height: 250px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;
}
.menu > li {
  width: 100%;
  text-align: center;
  line-height: 40px;
  background-color: #00000017;
}
/*바디*/
/* 기본 폰트 설정 */
@font-face {
  font-family: "Paris2024";
  src: url("/fonts/Paris2024-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: rgba(245, 245, 245, 0.911);
  font-family: "Gowun Batang", serif;
  font-weight: 600;
  font-style: normal;
}
#mainpage {
  margin-top: 5%;
  margin-bottom: 2%;
}
#mainpage2 {
  height: 500px;
}
#image_container {
  border: 3px solid;
  border-color: #a7a7a7c5;
  width: 150px;
  height: 150px; /* 컨테이너를 정사각형으로 설정 */
  border-radius: 100px; /* 원형으로 만들기 */
  overflow: hidden; /* 내용이 삐져나오지 않도록 숨김 */
  display: flex;
  justify-content: center;
  align-items: center;
}
#image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 컨테이너를 완전히 채우도록 설정 */
  border-radius: 50%; /* 이미지도 원형으로 만들기 */
}
.input-file {
  padding: 6px 25px;
  background-color: #85acff93;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 1rem;
}
.mainpage3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 460px;
  background-color: rgba(255, 255, 255, 0.781);
  border: 1px solid color #000000;
  border-radius: 15px;
  float: left;
  margin-right: 30px;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
  margin-top: 30px;
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 460px;
  background-color: rgba(255, 255, 255, 0.781);
  float: left;
  border: 1px solid color #000000;
  border-radius: 15px;
  margin-right: 30px;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
  margin-top: 30px;
}
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 460px;
  background-color: rgba(255, 255, 255, 0.781);
  border: 1px solid color #000000;
  border-radius: 15px;
  margin-right: 30px;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
  margin-top: 30px;
}
.img1 {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}
.maininfo {
  width: 100%;
  border-top: 3px solid;
  border-color: rgba(0, 0, 0, 0.801);
  padding-top: 10px;
}
.maininfo p {
  text-align: center;
  padding-top: 20px;
}
.maininfo span {
  padding-left: 15px;
  line-height: 10px;
}
#total {
  width: 800px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Gowun Batang", serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 20px;
}
#mainpage4 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.041);
}
#line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-top: none;
  color: rgb(255, 255, 255);
  background-color: rgb(94, 145, 255);
}
.mar {
  padding: 10px;
}
#section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}
.idid {
  margin-bottom: 10px;
  font-family: "Gowun Batang", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(0, 0, 0);
  margin-top: 15px;
}
.idid label {
  display: block;
  margin-bottom: 5px;
  color: #000000;
  margin-left: 10%;
}
.idid input {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(116, 116, 116, 0.562);
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.671);
  color: #000000;
  margin-left: 20px;
}
.infobu {
  width: 500px;
  height: 40px;
  margin: 10px;
  background-color: rgb(94, 145, 255);
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Gowun Batang", serif;
  font-weight: 600;
  font-style: normal;
  margin-left: 20px;
}
#infobu :hover {
  background-color: #FFFFFF;
  color: black;
}
#infobu :focus {
  outline: none;
  box-shadow: 0 0 0 3px #ffffff57;
}
#red {
  color: rgb(231, 223, 114);
}
#green {
  color: rgb(107, 152, 250);
}
details {
  margin-bottom: 10px;
}
details summary {
  background-color: #ffffffd2;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  color: black;
  padding: 1rem;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background 1s;
  text-align: center;
}
details > summary::-webkit-details-marker {
  background-size: contain;
  color: transparent;
  transform: rotate3d(0, 0, 1, 90deg);
  transition: transform 0.25s;
}
details[open] > summary::-webkit-details-marker {
  transform: rotate3d(0, 0, 1, 180deg);
}
details[open] > summary {
  background-color: rgba(0, 0, 0, 0.041);
}
details[open] > summary ~ * {
  animation: reveal 0.5s;
}
@keyframes reveal {
  from {
    opacity: 0;
    transform: translate3d(0, -10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
#spancaca {
  font-size: 1.3rem;
}
#CACACA {
  font-size: 1rem;
  margin-left: 60%;
}
#CDCDCD {
  font-size: 1rem;
  margin-left: 69%;
}
summary::marker {
  content: " ";
}
details[open] summary::marker {
  content: " ";
}
.reveal-animation {
  animation: reveal 0.5s;
}
.spanspan {
  height: 15px;
}